@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #1c0d70;
  overflow-x: hidden;
}
@keyframes slide {
  from{
      transform: translateX(0);
  }
  to{
      transform: translateX(-100%);
  }
}
.logo-slide{
  animation: 20s slide infinite linear;
}
.logo-slide:hover{
  animation-play-state: paused;
}